{% extends 'base.html' %}

{% block content %}
<section>
    
</section>
<section>
    <div class="container text-center">
        <h2 class="mb-4">Manage Reviews</h2>
        <table class="table align-middle mb-0 bg-white post-box table-hover">
            <tr class="thead-dark">
                <th>House</th>
                <th>User</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
            {% for review in reviews %}
            <tr>
                <td>{{ review.house.name }}</td>
                <td>{{ review.user.username }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.comment }}</td>
                <td>
                    <a href="{% url 'reply_review' review.pk %}" class="btn btn-success btn-sm">Reply</a>
                    <a href="{% url 'delete_review' review.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}
