{% extends 'base.html' %}

{% block content %}
<section>
    
</section>
<section>
    <div class="container ">
        <h2 class="mb-4 text-center">Verify Rental Post: {{ rental_post.title }}</h2>
        <form method="post" class="post-box">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit Verification</button>
        </form>
    </div>
</section>
{% endblock %}
